/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.page-content {
	display: none;
}

.archive .entry-meta  {  //test
	margin-bottom: 3rem;
  }
  
.archive .hentry {
	border-bottom: $border__dashed;
  }