
.site-footer {
    .site-info {
      display: flex;
      flex-wrap: wrap;
      margin: 3rem 0 2rem 0;
      @include tablet {
        flex-wrap: nowrap;
      }
      @include desktop {
        justify-content: flex-end;
      }
    }
  }
p {
      font-weight: 300;
      @include tablet {
      padding-left: 1rem;
      }
  }