button {
    box-shadow: none;
    background: transparent;
    text-shadow: none;
    color: $color__link;
    border: 1px solid $color__link;
    &:hover{
      color: $color__link-hover;
      border: 1px solid $color__link-hover;
    }
}


.site-branding {
    text-align: left;
    @media screen and (min-width: $width--desktop) {
   text-align: center;
    }
}

